{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_collaborativefolders/groupfolderinfo

    Information about a folder that had been shared successfully.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * group
    * foldername
    * cmid
    * solveproblems
    * openfolder

    Example context (json):
    {
        "group": [{ "id": 1, "name": "Group 1" }],
        "foldername": "Hello world",
        "cmid": 20,
        "solveproblems": "<a class=\"btn\" href=\"http://moodle.example/mod/collaborativefolders/resetshare.php?id=77&amp;groupid=2&amp;sesskey=abcdxyz\">Solve problems</a>",
        "openfolder": "<a class=\"btn btn-primary\" href=\"https://owncloud.example/index.php/apps/files/?dir=/Hello+World\">@Open in ownCloud</a>"
    }
}}
{{#group.id}}
    <h4 id="folder-{{group.id}}">{{#str}}grouplabel, mod_collaborativefolders, {{group.name}}{{/str}}</h4>
{{/group.id}}
<div class="groupfolderinfo explanation">{{#str}}sharedtoowncloud, mod_collaborativefolders, {{servicename}}{{/str}}</div>
<table class="groupfolderinfo details generaltable fullwidth">
    <tbody>
    <tr>
        <th scope="row">{{#str}}folder, mod_collaborativefolders{{/str}}</th>
        <td>
            {{{openfolder}}}
        </td>
        <td>
            {{{icon}}}
            {{foldername}}
            {{#warning}}
                <div class="alert alert-warning">{{.}}</div>
            {{/warning}}
        </td>
    </tr>
    <tr>
        <th scope="row">{{#str}}cannotaccessheader, mod_collaborativefolders{{/str}}</th>
        <td>
            {{{solveproblems}}}
        </td>
        <td>
            {{#str}}cannotaccess, mod_collaborativefolders{{/str}}
        </td>
    </tr>
    </tbody>
</table>